

/*------------main-tag--------------*/
body {
    background-color: #009bfd;
    width: 100%;
    margin:0;
    color: #fff;
}
  
* {
    box-sizing: border-box;
  }
  
 h1 {
    font-size: 30px;
    text-align: center;
  }
  
  
  h2 {
    font-size: 30px;
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  
  
  .flex-column {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    padding:0;
    margin: 20px auto;
  }
  
  .add-padding {
    margin: 20px 0;
  }
  
  
  /*-------topに戻るボタン----------*/
  #page_top{
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #00B000;
    border-radius: 5px;
    z-index: 1000;
  }
  
  #page_top:hover{
    background-color: rgba(56, 232, 56, 0.85);
  }
  
  
  #page_top p{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 0;
  }
  
  #page_top p::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 30px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  
  #page_top p::before:hover{
    color:#fff;
  }
  
  /*---------------first-view----------------*/
  
  .top-image {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 66.6%;
    background: url("https://motohiro4649.github.io/ojisantokomusume/img/page_241223_PC_01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  .massage {
    text-align: center;
  }
  
  .top-wrapper {
    position: relative;
    width: 100%;
  }
  
  .contents-wrapper {
    background-color: #000;
    z-index: 50;
  }
  
  /*------------------ZEPPへの想い page----------------*/
  .history-wrapper {
    padding:30px;
    background-image: url('../img/top-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: #4a4a4b;
  }
  
  .history-container {
    font-size: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .info-container p {
    font-size: 20px;
  }
  
  /*------------------Ticket page----------------*/
  
  .Advanced-tickets-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin:0;
    padding:30px;
    background-color: #009bfd;
  }
  
  .banner img {
   width:100%;
  }
  
  .General-tickets-container {
    background-image: url('img/135726.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  
  .ticket-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin:0;
  }
  
  .ticket-box {
    width:80%;
    max-width:1000px;
    max-height:400px;
    background-color: #9edc8c;
    opacity: 0.85;
    margin:0 0 50px 0;
  }
  
  .ticket-box h3 {
    font-size: 40px;
    margin-bottom: 0;
  }
  
  .ticket-box p {
    text-align: center;
    font-size: 30px;
  }
  
  .button-ticket {
    display: block;
    width: 80%;
    background: linear-gradient(to right, #00bfff 0%, #7fffd4 45%, #fffacd 100%);
    background-size: 200% auto;  
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    transition: .5s;
    margin: 20px auto;
    margin: 20px auto;
    border: solid 2px #191970;
    box-shadow: 0 5px 0 #191970;
  }
  
  .button-ticket:hover {
    color: #191970;
    transform: translateY(5px);
    box-shadow: 0 0 0 #191970;
    background-position: center;
  }
  
  /*------------------Cloudfounding----------------*/
  .cloudfounding-container {
    background-image: url('img/25074538.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding:30px;
  }
  }